<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CisWindowsFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=.;Database=CIS_POS;User Id=capung;Password=admin;"
   providerName="System.Data.SqlClient" />
  <add name="CisWindowsFormsApp.Properties.Settings.CIS_POSConnectionString"
   connectionString="Data Source=.;Initial Catalog=CIS_POS;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<applicationSettings>
		<CisWindowsFormsApp.Properties.Settings>
   <setting name="CompName" serializeAs="String">
    <value>PT. CAPUNG INDAH SENTOSA</value>
   </setting>
   <setting name="CompAddress" serializeAs="String">
    <value>Jl. Mayjend Bambang Sugeng Km. 5, Magelang 56172</value>
   </setting>
   <setting name="CompPhone" serializeAs="String">
    <value>0293-325 333</value>
   </setting>
   <setting name="CompEmail" serializeAs="String">
    <value>adm.ptcis@capungindah.com</value>
   </setting>
   <setting name="CompLicenseNo" serializeAs="String">
    <value>10112200794940001</value>
   </setting>
   <setting name="CompNpwp" serializeAs="String">
    <value>61.468.918.0-524.000</value>
   </setting>
   <setting name="CompBankAcc" serializeAs="String">
    <value>BCA 344.025.7070</value>
   </setting>
   <setting name="CurrentUser" serializeAs="String">
    <value>Georgeous</value>
   </setting>
   <setting name="CompWebsite" serializeAs="String">
    <value>www.capungindah.com</value>
   </setting>
   <setting name="CurrentUserId" serializeAs="String">
    <value>Guid</value>
   </setting>
   <setting name="PicName" serializeAs="String">
    <value>Annisa Indah Wahyuni, A.Md. Farm.</value>
   </setting>
   <setting name="PicLicenseNo" serializeAs="String">
    <value>10112200794940001</value>
   </setting>
   <setting name="SalesOrderPrefix" serializeAs="String">
    <value>S1</value>
   </setting>
  </CisWindowsFormsApp.Properties.Settings>
	</applicationSettings>
</configuration>